
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="utf-8">
    <title>WorldFlash</title>
  </head>
  <body>
    <section id="loginCotnainer">
      <h1> Page #2 </h1>
      <h2> <span>Login: </span></h2>
      <h3> <span> Email Adress </span> </h3>

    <form class="" action="index.html" method="post">
      <input type="text" name="" value=""placeholder="email adrress">
      <input type="text" name="" value=""placeholder="password">
      <button type="button" name="button"> Log In </button>
    </form>
    <img id="breakingNews" src="./img/breakingNews.png" alt=""> <br>
    <a href="index.ejs"><button type="button" name="button"> Go Home</button></a>
    </section>
  </body>
  <script type="text/javascript" src="./public/main.js"> </script>
</html>
